<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>01.jpg</string>
		<key>desc</key>
		<string>第一张</string>
	</dict>
	<dict>
		<key>name</key>
		<string>02.jpg</string>
		<key>desc</key>
		<string>第二张</string>
	</dict>
	<dict>
		<key>name</key>
		<string>03.jpg</string>
		<key>desc</key>
		<string>第三张</string>
	</dict>
</array>
</plist>
