<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>1</string>
				<key>name</key>
				<string>宝马</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>2</string>
				<key>name</key>
				<string>大众</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>3</string>
				<key>name</key>
				<string>丰田</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>4</string>
				<key>name</key>
				<string>奥迪</string>
			</dict>
		</array>
		<key>title</key>
		<string>进口</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>1</string>
				<key>name</key>
				<string>宝马</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>2</string>
				<key>name</key>
				<string>大众</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>3</string>
				<key>name</key>
				<string>丰田</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>4</string>
				<key>name</key>
				<string>奥迪</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>5</string>
				<key>name</key>
				<string>本田</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>6</string>
				<key>name</key>
				<string>比亚迪</string>
			</dict>
		</array>
		<key>title</key>
		<string>国产</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>1</string>
				<key>name</key>
				<string>宝马</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>2</string>
				<key>name</key>
				<string>大众</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>3</string>
				<key>name</key>
				<string>丰田</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>4</string>
				<key>name</key>
				<string>奥迪</string>
			</dict>
		</array>
		<key>title</key>
		<string>进口</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>1</string>
				<key>name</key>
				<string>宝马</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>2</string>
				<key>name</key>
				<string>大众</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>3</string>
				<key>name</key>
				<string>丰田</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>4</string>
				<key>name</key>
				<string>奥迪</string>
			</dict>
		</array>
		<key>title</key>
		<string>进口</string>
	</dict>
</array>
</plist>
