<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>0</string>
		<key>name</key>
		<string>山丘之王</string>
		<key>intro</key>
		<string>山丘之王在卡兹莫丹大陆被称为&quot;领主&quot;，是生活在山脉脚下的最强大的矮人战士</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>大法师</string>
		<key>intro</key>
		<string>些展现着各种法术的魔法界精英们来自不可思议的魔法王国达拉然</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2</string>
		<key>name</key>
		<string>圣骑士</string>
		<key>intro</key>
		<string>虽然圣骑士曾经在洛丹伦大陆被人民尊敬和爱戴，但他们目前陷入了困境</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3</string>
		<key>name</key>
		<string>血法</string>
		<key>intro</key>
		<string>过去众多自制的高等精灵们，随着王国奎尔·萨拉斯的灭亡而迷茫，他们绝望、仇恨，并转而信奉黑暗魔法</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>4</string>
		<key>name</key>
		<string>剑圣</string>
		<key>intro</key>
		<string>虽然他们的数量很少，但剑圣一直是兽人部落中的精英战士</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>5</string>
		<key>name</key>
		<string>先知</string>
		<key>intro</key>
		<string>先知是体现最强大的萨满教力量的古老兽人，这些强大的萨满祭司是萨尔最信任的参谋并经常参与制定兽人部落的战略</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>6</string>
		<key>name</key>
		<string>牛头酋长</string>
		<key>intro</key>
		<string>这些年长的牛头战士在日常生活中和战斗中都出色地领导着他们高贵而纯朴的部族</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>7</string>
		<key>name</key>
		<string>巫医</string>
		<key>intro</key>
		<string>这些隐遁的，足智多谋的丛林巨魔在他们各自的战斗部落中享有最崇高的威望</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>8</string>
		<key>name</key>
		<string>恶魔猎手</string>
		<key>intro</key>
		<string>恶魔猎手是被暗夜精灵族社会排斥的黑暗战士</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>9</string>
		<key>name</key>
		<string>老鹿</string>
		<key>intro</key>
		<string>这些强大的守护者是半神人赛纳留斯宠爱的儿子</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>10</string>
		<key>name</key>
		<string>白虎</string>
		<key>intro</key>
		<string>作为哨兵部队的领袖，无所畏惧的月之女祭司体现了暗夜精灵族古老的月亮女神艾露尼的力量与优雅</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>11</string>
		<key>name</key>
		<string>守望者</string>
		<key>intro</key>
		<string>神秘的守望者主要服务于卡利姆多大陆的暗夜精灵警备机构</string>
	</dict>
</array>
</plist>
