<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>apple.png</string>
		<key>name</key>
		<string>苹果</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>calendar.png</string>
		<key>name</key>
		<string>日历</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>cd.png</string>
		<key>name</key>
		<string>CD机</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>clock.png</string>
		<key>name</key>
		<string>时钟</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>drink.png</string>
		<key>name</key>
		<string>饮料</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>dumbbell.png</string>
		<key>name</key>
		<string>举重</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>heart.png</string>
		<key>name</key>
		<string>心率</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>muscles.png</string>
		<key>name</key>
		<string>锻炼</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>music.png</string>
		<key>name</key>
		<string>音乐</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>sun.png</string>
		<key>name</key>
		<string>天气</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>weight.png</string>
		<key>name</key>
		<string>体重</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>word.png</string>
		<key>name</key>
		<string>文档</string>
	</dict>
</array>
</plist>
