<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>朋友间加深友情的方法：男人，一起干过坏事；女人，一起说别人坏话；男女之间，干坏事还说别人坏话。</string>
		<key>icon</key>
		<string>1</string>
		<key>name</key>
		<string>留几手</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>picture</key>
		<string>1</string>
		<key>text</key>
		<string>世界上1000年里不可能再有金日成元帅这么伟大的人</string>
		<key>icon</key>
		<string>2</string>
		<key>name</key>
		<string>作家崔成浩</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>balabalabalabalabalabalabalabalabalabalabalabala</string>
		<key>icon</key>
		<string>3</string>
		<key>name</key>
		<string>路人</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>世界上没有情感专家，每个人成长的环境、接受的思想，面对的问题都不一样。你失恋了、失意了、困惑了，谁能和你感同身受啊？自己的问题自己解决吧，问也没用。非要问我咋办？那哥只能告诉你：难过了，就蹲下来抱抱自己。</string>
		<key>icon</key>
		<string>4</string>
		<key>name</key>
		<string>留几手马甲</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>picture</key>
		<string>3</string>
		<key>text</key>
		<string>锤子手机是世界上第二好用的手机!</string>
		<key>icon</key>
		<string>5</string>
		<key>name</key>
		<string>罗永浩</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>为地震默哀</string>
		<key>icon</key>
		<string>6</string>
		<key>name</key>
		<string>路人乙</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
