<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>2</string>
				<key>intro</key>
				<string>手写控件，frame，center和bounds属性</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>3</string>
				<key>intro</key>
				<string>iOS开发UI篇—transframe属性（形变）</string>
				<key>name</key>
				<string>王武</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>4</string>
				<key>intro</key>
				<string>iOS开发UI篇—简单的浏览器查看程序</string>
				<key>name</key>
				<string>赵六</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>5</string>
				<key>intro</key>
				<string>iOS开发UI篇—懒加载</string>
				<key>name</key>
				<string>孙琦</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>6</string>
				<key>intro</key>
				<string>iOS开发UI篇—九宫格坐标计算</string>
				<key>name</key>
				<string>王霸</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>小学同学</string>
		<key>online</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>2</string>
				<key>intro</key>
				<string>手写控件，frame，center和bounds属性</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>3</string>
				<key>intro</key>
				<string>iOS开发UI篇—transframe属性（形变）</string>
				<key>name</key>
				<string>王武</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>4</string>
				<key>intro</key>
				<string>iOS开发UI篇—简单的浏览器查看程序</string>
				<key>name</key>
				<string>赵六</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>5</string>
				<key>intro</key>
				<string>iOS开发UI篇—懒加载</string>
				<key>name</key>
				<string>孙琦</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>6</string>
				<key>intro</key>
				<string>iOS开发UI篇—九宫格坐标计算</string>
				<key>name</key>
				<string>王霸</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>初中同学</string>
		<key>online</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>2</string>
				<key>intro</key>
				<string>手写控件，frame，center和bounds属性</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>3</string>
				<key>intro</key>
				<string>iOS开发UI篇—transframe属性（形变）</string>
				<key>name</key>
				<string>王武</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>4</string>
				<key>intro</key>
				<string>iOS开发UI篇—简单的浏览器查看程序</string>
				<key>name</key>
				<string>赵六</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>5</string>
				<key>intro</key>
				<string>iOS开发UI篇—懒加载</string>
				<key>name</key>
				<string>孙琦</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>6</string>
				<key>intro</key>
				<string>iOS开发UI篇—九宫格坐标计算</string>
				<key>name</key>
				<string>王霸</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>高中同学</string>
		<key>online</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>1</string>
				<key>intro</key>
				<string>今天天气不错</string>
				<key>name</key>
				<string>张三</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>一个分组</string>
		<key>online</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>2</string>
				<key>intro</key>
				<string>手写控件，frame，center和bounds属性</string>
				<key>name</key>
				<string>李四</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>3</string>
				<key>intro</key>
				<string>iOS开发UI篇—transframe属性（形变）</string>
				<key>name</key>
				<string>王武</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>4</string>
				<key>intro</key>
				<string>iOS开发UI篇—简单的浏览器查看程序</string>
				<key>name</key>
				<string>赵六</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>5</string>
				<key>intro</key>
				<string>iOS开发UI篇—懒加载</string>
				<key>name</key>
				<string>孙琦</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>6</string>
				<key>intro</key>
				<string>iOS开发UI篇—九宫格坐标计算</string>
				<key>name</key>
				<string>王霸</string>
				<key>vip</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>name</key>
		<string>大学同学</string>
		<key>online</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>friends</key>
		<array>
			<dict>
				<key>icon</key>
				<string>7</string>
				<key>intro</key>
				<string>iOS开发UI篇—字典转模型</string>
				<key>name</key>
				<string>尼古拉斯赵四</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>icon</key>
				<string>8</string>
				<key>intro</key>
				<string>在UIImageView中添加按钮以及Tag的参数说明</string>
				<key>name</key>
				<string>小沈阳</string>
				<key>vip</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>name</key>
		<string>又一个分组</string>
		<key>online</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
